.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}

.button-container button {
  margin-top: 3rem;
  width: 75%;
  max-width: 500px;
}

.button-container label {
  margin-top: 6rem;
  width: 75%;
  max-width: 500px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.navbar li {
  margin-left: 10px;
}

.navbar-anchor a {
  text-decoration: none;
  color: white
}

body {
  margin: 0;
}

.uploaded-file-text-container {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-top: 1rem;
}

.payout-submission-form {
  margin-top: 7rem;
  display: grid;
  place-items: center;
}

.date-time-picker {
  
}